---
layout: page
slide_id: 2
---

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 offset-lg-1 col-xl-10 offset-xl-1">

    {% for day in site.data.schedule %}
    <div>
      <h4 class="schedule-table-heading">{{ day.dateReadable[page.lang] }}</h4>

      <table class="table table-bordered table-hover table-responsive table-sm schedule-table">
        {% for timeslot in day.timeslots %}
          {% assign title_lc = timeslot.title[page.lang] | downcase %}
          {% assign slot_class = "bg-primary text-center" %}
          {% if timeslot.type == "service" %}
            {% assign slot_class = "bg-warning text-center" %}
          {% endif %}
          {% if title_lc contains "coffee" or title_lc contains "break" %}
            {% assign slot_class = "bg-coffee text-center" %}
          {% endif %}
          {% if title_lc contains "lunch" or title_lc contains "diner" or title_lc contains "dinner" %}
            {% assign slot_class = "bg-meal text-center" %}
          {% endif %}

          <thead>
            <tr>
              <th class="time-header">
                <div>{{timeslot.startTime}}-{{timeslot.endTime}}</div>
              </th>
              <th class="{{ slot_class }}">
                {% if timeslot.type == "service" %}
                  <p class="text-muted m-0">{{ timeslot.title[page.lang] }}</p>
                {% else %}
                  <h5 class="m-0">{{ timeslot.title[page.lang] }}</h5>
                  {% if timeslot.speaker %}<h5 class="m-0">{{ timeslot.speaker[page.lang] }}</h5>{% endif %}
                  {% if timeslot.chair %}<h6 class="m-0">Session chair: {{ timeslot.chair[page.lang] }}</h6>{% endif %}
                {% endif %}
              </th>
            </tr>
          </thead>

          {% if timeslot.events %}
          <tbody>
            {% for event in timeslot.events %}
              <tr>
                <td class="time-col" width="20%">&nbsp;</td>
                <td>
                  <p class="mb-1"><b>{{event.title}}</b></p>
                  <p class="mb-0"><i>{{event.speakers}}</i></p>
                </td>
              </tr>
            {% endfor %}
          </tbody>
          {% endif %}
        {% endfor %}
      </table>
    </div>
    {% endfor %}

    {% include contact-us.html %}
  </div>
</div>
